<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../libs/img/faicon.png" type="image/x-icon">
    <title>Naruto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../libs/pagination/simplePagination.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="root grid">
        <div id="nav" class="root__header-block">
            <div class="root__header grid wide">
                <div class="root__header-logo">
                    <a href="#" class="root__header-logo-link">azm1med</a>
                </div>
                <ul class="root__header-nav">
                    <li class="root__header-nav-item">
                        <a href="#" class="root__header-nav-link">
                            <span>Trang chủ</span>
                        </a>
                    </li>
                    <li class="root__header-nav-item">
                        <a href="#" class="root__header-nav-link">
                            <span>Ninja</span>
                        </a>
                    </li>
                    <li class="root__header-nav-item">
                        <a href="#" class="root__header-nav-link">
                            <span>Làng Ninja</span>
                        </a>
                    </li>
                    <li class="root__header-nav-item">
                        <a href="#" class="root__header-nav-link">
                            <span>Nhẫn Thuật</span>
                        </a>
                    </li>
                    <li class="root__header-nav-item">
                        <a href="#" class="root__header-nav-link">
                            <span>Vĩ Thú</span>
                        </a>
                    </li>
                </ul>
                <div class="root__header-ac">
                    <div class="root__header-ac-off">
                        <button class="root__header-ac-btn btn">Tài khoản</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="root__body" class="root__body">
            <div class="shinobi grid wide">
                <div class="shinobi__header">
                    <h1 class="shinobi__header-title title">Danh sách nhẫn giả</h1>
                    <p class="shinobi__header-desc">Tập hợp những ninja kiệt xuất đén từ nhiều làng và quốc gia khác nhau</p>
                </div>
                <div class="shinobi__body">
                    <div class="shinobi__fillter">
                        <div class="shinobi__fillter-item">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi quae quod cupiditate qui unde ad, quia reprehenderit provident! Minus neque optio possimus quod blanditiis sint cum vitae quia minima porro!
                        </div>
                    </div>
                    <div class="shinobi__list row">
                        <div class="shinobi__item-block col l-3 m-6 c-12">
                            <a href="#" class="shinobi__item">
                                <div class="shinobi__item-media">
                                    <img src="../libs/img/itachi.jpg" alt="" class="shinobi__item-media-img">
                                </div>
                                <p class="shinobi__item-content">
                                    <span class="shinobi__item-title">Uchiha Itachi</span>
                                    <span class="shinobi__item-desc compact">Itachi là một thiên tài hiếm có, tốt nghiệp Học viện Ninja và khơi dậy tiềm năng Sharingan khi mới 7 tuổi, trở thành bậc thầy Sharingan ở tuổi lên 8, làm Ninja Trung đẳng (Chunin) lúc 10 tuổi và là đội trưởng ANBU năm 13 tuổi. Vì lẽ đó, Itachi trở thành niềm hy vọng của cha và gia tộc. Họ mong đợi anh sẽ nối nghiệp cha làm trưởng tộc, khiến dòng họ rạng danh và chiếm quyền lãnh đạo làng Lá trong tương lai.</span>
                                </p>
                                <div class="shinobi__item-ac">
                                    <span class="shinobi__item-ac-btn btn">Chi tiết</span>
                                </div>
                            </a>
                        </div>
                        <div class="shinobi__item-block col l-3 m-6 c-12">
                            <a href="#" class="shinobi__item">
                                <div class="shinobi__item-media">
                                    <img src="../libs/img/nagato.jpg" alt="" class="shinobi__item-media-img">
                                </div>
                                <p class="shinobi__item-content">
                                    <span class="shinobi__item-title">Uzumaki Nagato</span>
                                    <span class="shinobi__item-desc compact">Itachi là một thiên tài hiếm có, tốt nghiệp Học viện Ninja và khơi dậy tiềm năng Sharingan khi mới 7 tuổi, trở thành bậc thầy Sharingan ở tuổi lên 8, làm Ninja Trung đẳng (Chunin) lúc 10 tuổi và là đội trưởng ANBU năm 13 tuổi. Vì lẽ đó, Itachi trở thành niềm hy vọng của cha và gia tộc. Họ mong đợi anh sẽ nối nghiệp cha làm trưởng tộc, khiến dòng họ rạng danh và chiếm quyền lãnh đạo làng Lá trong tương lai.</span>
                                </p>
                                <div class="shinobi__item-ac">
                                    <span class="shinobi__item-ac-btn btn">Chi tiết</span>
                                </div>
                            </a>
                        </div>
                        <div class="shinobi__item-block col l-3 m-6 c-12">
                            <a href="#" class="shinobi__item">
                                <div class="shinobi__item-media">
                                    <img src="../libs/img/konan.jpg" alt="" class="shinobi__item-media-img">
                                </div>
                                <p class="shinobi__item-content">
                                    <span class="shinobi__item-title">Konan</span>
                                    <span class="shinobi__item-desc compact">Itachi là một thiên tài hiếm có, tốt nghiệp Học viện Ninja và khơi dậy tiềm năng Sharingan khi mới 7 tuổi, trở thành bậc thầy Sharingan ở tuổi lên 8, làm Ninja Trung đẳng (Chunin) lúc 10 tuổi và là đội trưởng ANBU năm 13 tuổi. Vì lẽ đó, Itachi trở thành niềm hy vọng của cha và gia tộc. Họ mong đợi anh sẽ nối nghiệp cha làm trưởng tộc, khiến dòng họ rạng danh và chiếm quyền lãnh đạo làng Lá trong tương lai.</span>
                                </p>
                                <div class="shinobi__item-ac">
                                    <span class="shinobi__item-ac-btn btn">Chi tiết</span>
                                </div>
                            </a>
                        </div>
                        <div class="shinobi__item-block col l-3 m-6 c-12">
                            <a href="#" class="shinobi__item">
                                <div class="shinobi__item-media">
                                    <img src="../libs/img/obito.jpg" alt="" class="shinobi__item-media-img">
                                </div>
                                <p class="shinobi__item-content">
                                    <span class="shinobi__item-title">Uchiha Obito</span>
                                    <span class="shinobi__item-desc compact">Itachi là một thiên tài hiếm có, tốt nghiệp Học viện Ninja và khơi dậy tiềm năng Sharingan khi mới 7 tuổi, trở thành bậc thầy Sharingan ở tuổi lên 8, làm Ninja Trung đẳng (Chunin) lúc 10 tuổi và là đội trưởng ANBU năm 13 tuổi. Vì lẽ đó, Itachi trở thành niềm hy vọng của cha và gia tộc. Họ mong đợi anh sẽ nối nghiệp cha làm trưởng tộc, khiến dòng họ rạng danh và chiếm quyền lãnh đạo làng Lá trong tương lai.</span>
                                </p>
                                <div class="shinobi__item-ac">
                                    <span class="shinobi__item-ac-btn btn">Chi tiết</span>
                                </div>
                            </a>
                        </div>
                        <div class="shinobi__item-block col l-3 m-6 c-12">
                            <a href="#" class="shinobi__item">
                                <div class="shinobi__item-media">
                                    <img src="../libs/img/kakuzu.jpg" alt="" class="shinobi__item-media-img">
                                </div>
                                <p class="shinobi__item-content">
                                    <span class="shinobi__item-title">Kakuzu</span>
                                    <span class="shinobi__item-desc compact">Itachi là một thiên tài hiếm có, tốt nghiệp Học viện Ninja và khơi dậy tiềm năng Sharingan khi mới 7 tuổi, trở thành bậc thầy Sharingan ở tuổi lên 8, làm Ninja Trung đẳng (Chunin) lúc 10 tuổi và là đội trưởng ANBU năm 13 tuổi. Vì lẽ đó, Itachi trở thành niềm hy vọng của cha và gia tộc. Họ mong đợi anh sẽ nối nghiệp cha làm trưởng tộc, khiến dòng họ rạng danh và chiếm quyền lãnh đạo làng Lá trong tương lai.</span>
                                </p>
                                <div class="shinobi__item-ac">
                                    <span class="shinobi__item-ac-btn btn">Chi tiết</span>
                                </div>
                            </a>
                        </div>
                        <div class="shinobi__item-block col l-3 m-6 c-12">
                            <a href="#" class="shinobi__item">
                                <div class="shinobi__item-media">
                                    <img src="../libs/img/Sasori.jpg" alt="" class="shinobi__item-media-img">
                                </div>
                                <p class="shinobi__item-content">
                                    <span class="shinobi__item-title">Sasori</span>
                                    <span class="shinobi__item-desc compact">Itachi là một thiên tài hiếm có, tốt nghiệp Học viện Ninja và khơi dậy tiềm năng Sharingan khi mới 7 tuổi, trở thành bậc thầy Sharingan ở tuổi lên 8, làm Ninja Trung đẳng (Chunin) lúc 10 tuổi và là đội trưởng ANBU năm 13 tuổi. Vì lẽ đó, Itachi trở thành niềm hy vọng của cha và gia tộc. Họ mong đợi anh sẽ nối nghiệp cha làm trưởng tộc, khiến dòng họ rạng danh và chiếm quyền lãnh đạo làng Lá trong tương lai.</span>
                                </p>
                                <div class="shinobi__item-ac">
                                    <span class="shinobi__item-ac-btn btn">Chi tiết</span>
                                </div>
                            </a>
                        </div>
                        <div class="shinobi__item-block col l-3 m-6 c-12">
                            <a href="#" class="shinobi__item">
                                <div class="shinobi__item-media">
                                    <img src="../libs/img/Orochimaru.jpg" alt="" class="shinobi__item-media-img">
                                </div>
                                <p class="shinobi__item-content">
                                    <span class="shinobi__item-title">Orochimaru</span>
                                    <span class="shinobi__item-desc compact">Itachi là một thiên tài hiếm có, tốt nghiệp Học viện Ninja và khơi dậy tiềm năng Sharingan khi mới 7 tuổi, trở thành bậc thầy Sharingan ở tuổi lên 8, làm Ninja Trung đẳng (Chunin) lúc 10 tuổi và là đội trưởng ANBU năm 13 tuổi. Vì lẽ đó, Itachi trở thành niềm hy vọng của cha và gia tộc. Họ mong đợi anh sẽ nối nghiệp cha làm trưởng tộc, khiến dòng họ rạng danh và chiếm quyền lãnh đạo làng Lá trong tương lai.</span>
                                </p>
                                <div class="shinobi__item-ac">
                                    <span class="shinobi__item-ac-btn btn">Chi tiết</span>
                                </div>
                            </a>
                        </div>
                        <div class="shinobi__item-block col l-3 m-6 c-12">
                            <a href="#" class="shinobi__item">
                                <div class="shinobi__item-media">
                                    <img src="../libs/img/Kisame.png" alt="" class="shinobi__item-media-img">
                                </div>
                                <p class="shinobi__item-content">
                                    <span class="shinobi__item-title">Kisame Hoshigaki</span>
                                    <span class="shinobi__item-desc compact">Itachi là một thiên tài hiếm có, tốt nghiệp Học viện Ninja và khơi dậy tiềm năng Sharingan khi mới 7 tuổi, trở thành bậc thầy Sharingan ở tuổi lên 8, làm Ninja Trung đẳng (Chunin) lúc 10 tuổi và là đội trưởng ANBU năm 13 tuổi. Vì lẽ đó, Itachi trở thành niềm hy vọng của cha và gia tộc. Họ mong đợi anh sẽ nối nghiệp cha làm trưởng tộc, khiến dòng họ rạng danh và chiếm quyền lãnh đạo làng Lá trong tương lai.</span>
                                </p>
                                <div class="shinobi__item-ac">
                                    <span class="shinobi__item-ac-btn btn">Chi tiết</span>
                                </div>
                            </a>
                        </div>
                        <div class="shinobi__item-block col l-3 m-6 c-12">
                            <a href="#" class="shinobi__item">
                                <div class="shinobi__item-media">
                                    <img src="../libs/img/Hidan.png" alt="" class="shinobi__item-media-img">
                                </div>
                                <p class="shinobi__item-content">
                                    <span class="shinobi__item-title">Hidan</span>
                                    <span class="shinobi__item-desc compact">Itachi là một thiên tài hiếm có, tốt nghiệp Học viện Ninja và khơi dậy tiềm năng Sharingan khi mới 7 tuổi, trở thành bậc thầy Sharingan ở tuổi lên 8, làm Ninja Trung đẳng (Chunin) lúc 10 tuổi và là đội trưởng ANBU năm 13 tuổi. Vì lẽ đó, Itachi trở thành niềm hy vọng của cha và gia tộc. Họ mong đợi anh sẽ nối nghiệp cha làm trưởng tộc, khiến dòng họ rạng danh và chiếm quyền lãnh đạo làng Lá trong tương lai.</span>
                                </p>
                                <div class="shinobi__item-ac">
                                    <span class="shinobi__item-ac-btn btn">Chi tiết</span>
                                </div>
                            </a>
                        </div>
                        <div class="shinobi__item-block col l-3 m-6 c-12">
                            <a href="#" class="shinobi__item">
                                <div class="shinobi__item-media">
                                    <img src="../libs/img/Deidara.jpg" alt="" class="shinobi__item-media-img">
                                </div>
                                <p class="shinobi__item-content">
                                    <span class="shinobi__item-title">Deidara</span>
                                    <span class="shinobi__item-desc compact">Itachi là một thiên tài hiếm có, tốt nghiệp Học viện Ninja và khơi dậy tiềm năng Sharingan khi mới 7 tuổi, trở thành bậc thầy Sharingan ở tuổi lên 8, làm Ninja Trung đẳng (Chunin) lúc 10 tuổi và là đội trưởng ANBU năm 13 tuổi. Vì lẽ đó, Itachi trở thành niềm hy vọng của cha và gia tộc. Họ mong đợi anh sẽ nối nghiệp cha làm trưởng tộc, khiến dòng họ rạng danh và chiếm quyền lãnh đạo làng Lá trong tương lai.</span>
                                </p>
                                <div class="shinobi__item-ac">
                                    <span class="shinobi__item-ac-btn btn">Chi tiết</span>
                                </div>
                            </a>
                        </div>
                        <div class="shinobi__item-block col l-3 m-6 c-12">
                            <a href="#" class="shinobi__item">
                                <div class="shinobi__item-media">
                                    <img src="../libs/img/HashiramaHKG.jpg" alt="" class="shinobi__item-media-img">
                                </div>
                                <p class="shinobi__item-content">
                                    <span class="shinobi__item-title">Senju Hashirama</span>
                                    <span class="shinobi__item-desc compact">Itachi là một thiên tài hiếm có, tốt nghiệp Học viện Ninja và khơi dậy tiềm năng Sharingan khi mới 7 tuổi, trở thành bậc thầy Sharingan ở tuổi lên 8, làm Ninja Trung đẳng (Chunin) lúc 10 tuổi và là đội trưởng ANBU năm 13 tuổi. Vì lẽ đó, Itachi trở thành niềm hy vọng của cha và gia tộc. Họ mong đợi anh sẽ nối nghiệp cha làm trưởng tộc, khiến dòng họ rạng danh và chiếm quyền lãnh đạo làng Lá trong tương lai.</span>
                                </p>
                                <div class="shinobi__item-ac">
                                    <span class="shinobi__item-ac-btn btn">Chi tiết</span>
                                </div>
                            </a>
                        </div>
                        <div class="shinobi__item-block col l-3 m-6 c-12">
                            <a href="#" class="shinobi__item">
                                <div class="shinobi__item-media">
                                    <img src="../libs/img/Tobirama.jpg" alt="" class="shinobi__item-media-img">
                                </div>
                                <p class="shinobi__item-content">
                                    <span class="shinobi__item-title">Senju Tobirama</span>
                                    <span class="shinobi__item-desc compact">Itachi là một thiên tài hiếm có, tốt nghiệp Học viện Ninja và khơi dậy tiềm năng Sharingan khi mới 7 tuổi, trở thành bậc thầy Sharingan ở tuổi lên 8, làm Ninja Trung đẳng (Chunin) lúc 10 tuổi và là đội trưởng ANBU năm 13 tuổi. Vì lẽ đó, Itachi trở thành niềm hy vọng của cha và gia tộc. Họ mong đợi anh sẽ nối nghiệp cha làm trưởng tộc, khiến dòng họ rạng danh và chiếm quyền lãnh đạo làng Lá trong tương lai.</span>
                                </p>
                                <div class="shinobi__item-ac">
                                    <span class="shinobi__item-ac-btn btn">Chi tiết</span>
                                </div>
                            </a>
                        </div>
                        <div class="shinobi__item-block col l-3 m-6 c-12">
                            <a href="#" class="shinobi__item">
                                <div class="shinobi__item-media">
                                    <img src="../libs/img/Sarutobi.jpg" alt="" class="shinobi__item-media-img">
                                </div>
                                <p class="shinobi__item-content">
                                    <span class="shinobi__item-title">Hizuzen Sarutobi</span>
                                    <span class="shinobi__item-desc compact">Itachi là một thiên tài hiếm có, tốt nghiệp Học viện Ninja và khơi dậy tiềm năng Sharingan khi mới 7 tuổi, trở thành bậc thầy Sharingan ở tuổi lên 8, làm Ninja Trung đẳng (Chunin) lúc 10 tuổi và là đội trưởng ANBU năm 13 tuổi. Vì lẽ đó, Itachi trở thành niềm hy vọng của cha và gia tộc. Họ mong đợi anh sẽ nối nghiệp cha làm trưởng tộc, khiến dòng họ rạng danh và chiếm quyền lãnh đạo làng Lá trong tương lai.</span>
                                </p>
                                <div class="shinobi__item-ac">
                                    <span class="shinobi__item-ac-btn btn">Chi tiết</span>
                                </div>
                            </a>
                        </div>
                        <div class="shinobi__item-block col l-3 m-6 c-12">
                            <a href="#" class="shinobi__item">
                                <div class="shinobi__item-media">
                                    <img src="../libs/img/Minato.jpg" alt="" class="shinobi__item-media-img">
                                </div>
                                <p class="shinobi__item-content">
                                    <span class="shinobi__item-title">Namikaze Minato</span>
                                    <span class="shinobi__item-desc compact">Itachi là một thiên tài hiếm có, tốt nghiệp Học viện Ninja và khơi dậy tiềm năng Sharingan khi mới 7 tuổi, trở thành bậc thầy Sharingan ở tuổi lên 8, làm Ninja Trung đẳng (Chunin) lúc 10 tuổi và là đội trưởng ANBU năm 13 tuổi. Vì lẽ đó, Itachi trở thành niềm hy vọng của cha và gia tộc. Họ mong đợi anh sẽ nối nghiệp cha làm trưởng tộc, khiến dòng họ rạng danh và chiếm quyền lãnh đạo làng Lá trong tương lai.</span>
                                </p>
                                <div class="shinobi__item-ac">
                                    <span class="shinobi__item-ac-btn btn">Chi tiết</span>
                                </div>
                            </a>
                        </div>
                        <div class="shinobi__item-block col l-3 m-6 c-12">
                            <a href="#" class="shinobi__item">
                                <div class="shinobi__item-media">
                                    <img src="../libs/img/Tsunade.png" alt="" class="shinobi__item-media-img">
                                </div>
                                <p class="shinobi__item-content">
                                    <span class="shinobi__item-title">Senju Tsunade</span>
                                    <span class="shinobi__item-desc compact">Itachi là một thiên tài hiếm có, tốt nghiệp Học viện Ninja và khơi dậy tiềm năng Sharingan khi mới 7 tuổi, trở thành bậc thầy Sharingan ở tuổi lên 8, làm Ninja Trung đẳng (Chunin) lúc 10 tuổi và là đội trưởng ANBU năm 13 tuổi. Vì lẽ đó, Itachi trở thành niềm hy vọng của cha và gia tộc. Họ mong đợi anh sẽ nối nghiệp cha làm trưởng tộc, khiến dòng họ rạng danh và chiếm quyền lãnh đạo làng Lá trong tương lai.</span>
                                </p>
                                <div class="shinobi__item-ac">
                                    <span class="shinobi__item-ac-btn btn">Chi tiết</span>
                                </div>
                            </a>
                        </div>
                        <div class="shinobi__item-block col l-3 m-6 c-12">
                            <a href="#" class="shinobi__item">
                                <div class="shinobi__item-media">
                                    <img src="../libs/img/Kakashi.png" alt="" class="shinobi__item-media-img">
                                </div>
                                <p class="shinobi__item-content">
                                    <span class="shinobi__item-title">Hatake Kakashi</span>
                                    <span class="shinobi__item-desc compact">Itachi là một thiên tài hiếm có, tốt nghiệp Học viện Ninja và khơi dậy tiềm năng Sharingan khi mới 7 tuổi, trở thành bậc thầy Sharingan ở tuổi lên 8, làm Ninja Trung đẳng (Chunin) lúc 10 tuổi và là đội trưởng ANBU năm 13 tuổi. Vì lẽ đó, Itachi trở thành niềm hy vọng của cha và gia tộc. Họ mong đợi anh sẽ nối nghiệp cha làm trưởng tộc, khiến dòng họ rạng danh và chiếm quyền lãnh đạo làng Lá trong tương lai.</span>
                                </p>
                                <div class="shinobi__item-ac">
                                    <span class="shinobi__item-ac-btn btn">Chi tiết</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="shinobi__list-control-block">
                        <div id="shinobi__control" class="shinobi__list-control"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="root__footer-block">
            <div class="root__footer grid wide">
                <img src="./assets/libs/img/logo-main.png" alt="" class="root__footer-img">
                <div class="root__footer-content">
                    <h3 class="root__footer-content-title"> Hỏa chí nhẫn giả </h3>
                    <p class="root__footer-content-desc">©2022 Bản quyền trò chơi thuộc về MangaPlay
                        MangaPlay chính thức phát hành tại Việt Nam
                        Địa chỉ : Việt Nam - Đông Nam Á - Châu Á.</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../js/layout.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
<script src="../js/home.js"></script>
<script src="../libs/pagination/jquery.simplePagination.js"></script>
<script src="../js/shinobi.js"></script>
</html>