/* reset  */
* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
    color: var(--textlight);
} 

ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--textlight);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

button {
    outline: none;
    border: none;
}

:root {
    --primary: #f01f75;
    --gradient: linear-gradient(to right,#ef146e 0,#fea958 51%,#ef146e 100%);
    --gradientY: linear-gradient(to top,#ef146e 0,#fea958 100%,#ef146e 100%);
    --gradient-sec: linear-gradient(to right,#111c58 0,#5c2782 51%,#111c58 100%);
    --quote: url(../images/quotes-3.svg);
    --primary-hover: #d40c5e;
    --primary-dark: #631032;
    --rgba-primary-05: rgba(240, 31, 117, 0.05);
    --rgba-primary-1: rgba(240, 31, 117, 0.1);
    --rgba-primary-2: rgba(240, 31, 117, 0.2);
    --rgba-primary-3: rgba(240, 31, 117, 0.3);
    --rgba-primary-4: rgba(240, 31, 117, 0.4);
    --rgba-primary-5: rgba(240, 31, 117, 0.5);
    --rgba-primary-6: rgba(240, 31, 117, 0.6);
    --rgba-primary-7: rgba(240, 31, 117, 0.7);
    --rgba-primary-8: rgba(240, 31, 117, 0.8);
    --rgba-primary-9: rgba(240, 31, 117, 0.9);
    --textbold: #262626;
    --textlight: #636363;
    --boxshadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes surf__down {
    49% {
        transform: translateY(100%);
    }

    50% {
        opacity: 0;
        transform: translateY(-100%);
    }

    51% {
        opacity: 1;
    }
}

@keyframes leftup {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes rightup {
    from {
        transform: translateX(50%);
    }
    to {
        transform: translateX(0);
    }
}

/* base  */
.btn {
    padding: 10px 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background-image: var(--gradient);
    background-size: 200%;
    transition: all 1s;
    color: #fff;
    text-transform: uppercase;
}

.btn:hover {
    background-position: right center;
}

.title {
    color: #F55F8D;
    font-size: 3rem;
}

.desc {
    font-size: 2rem;
}

.compact {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* base  */